<h1 class="titulo">Mata Topos</h1>
<div class="contenedor">
    <div class="puntuacion">
        <p>Score:</p>
        <p>{{puntuacion}}</p>
    </div>
    <div class="tablero">
        @for(casilla of casillas; track casillas){
        @if(casilla == 0) {
        <div class="casilla" (click)="actualizarPuntuacion(casilla)"></div>
        } @else if (casilla == 1) {
        <div class="casilla" (click)="actualizarPuntuacion(casilla)">
            <div class="topo">
                <div class="ojos">
                    <div></div>
                    <div></div>
                </div>
                <div class="nariz"></div>
                <div class="boca">
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        }
        }
    </div>
</div>