.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dark-mode {
    background-color: black;
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
}