.dark-mode {
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
}

.light-mode {
    background-color: white;
    color: black;
}

.mensaje-error {
    color: red;
    font-size: small;
}

.contenedor-campo {
    display: flex;
    flex-direction: column;
}