.example-spacer {
    flex: 1 1 auto;
}

.ruta {
    cursor: pointer;
}

.ruta:hover {
    font-weight: 600;
}

.fondo-rtransparente {
    background-color: transparent;
}

.fondo-azul {
    background-color: lightblue;
}