.example-spacer {
    flex: 1 1 auto;
}

.ruta {
    cursor: pointer;
}

.ruta:hover {
    font-weight: 600;
}

.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dark-mode {
    background-color: darkslategray;
    color: white;
}

.light-mode {
    background-color: lightgray;
    color: black;
}