<!--<mat-toolbar [ngStyle]="cambiarFondo()". [ngClass]="cambiarClase()">-->
<mat-toolbar [ngClass]="getClase()">
    <button matIconButton [matMenuTriggerFor]="miMenu">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Mi Aplicación</span>
    <span class="example-spacer"></span>
    <span routerLink="/semaforo" class="ruta">Semaforo</span>
    <span class="example-spacer"></span>
    <span routerLink="/formulario" class="ruta">Formulario</span>
    <span class="example-spacer"></span>
    <span routerLink="/lista-personajes" class="ruta">Lista de personajes</span>
    <span class="example-spacer"></span>
    <mat-slide-toggle [checked]="getEstatus()" (change)="cambiar()">Slide Toggle Checked:
        {{isChecked}}</mat-slide-toggle>
</mat-toolbar>

<mat-menu #miMenu="matMenu">
    <button [ngClass]="getClase()" mat-menu-item routerLink="/semaforo">Semaforo</button>
    <button [ngClass]="getClase()" mat-menu-item routerLink="/formulario">Formulario</button>
    <button [ngClass]="getClase()" mat-menu-item routerLink="/lista-personajes">Lista de personajes</button>

</mat-menu>